Cursor
{
	color = #000;
	under-color = #f0f0f0;
}

#Editor
{
	background-color: transparent;
}

#Editor-overlay
{
	background: transparent;
}

#Editor-line-number-area
{
	background-color: rgba(88, 88, 88, 0.5);
	color: rgba(255, 255, 255, 1);
}

#Editor-underlay
{
	background: #f0f0f0;
}
