#editor
{
	background-color: transparent;
}

#lineNumberArea
{
	background-color: rgba(88, 88, 88, 0.5);
	color: rgba(255, 255, 255, 1);
}

#overlay, #shadow, #underlay
{
	background: transparent;
	background-image: url(none);
	background-repeat: repeat-xy;
	margin-right: 16px;
}
