[Desktop Entry]
Type=Application
Name=Fernanda
GenericName=Text Editor
Comment=A plain-text-first workbench for creative writing
Exec=Fernanda
Icon=Fernanda
Categories=Utility;TextEditor;