[Desktop Entry]
Type=Application
Name=Hearth
GenericName=Text Editor
Comment=A plain-text-first workbench for creative writing
Exec=Hearth %F
Icon=Hearth
Categories=Utility;TextEditor;
MimeType=application/x-hearth-notebook;