<?xml version="1.0" encoding="utf-8"?>
<Installer>
	<Name>Fernanda</Name>
	<Version>0.99.0</Version>
	<Title>Fernanda Installer</Title>
	<Publisher>fairybow</Publisher>
	<StartMenuDir>Fernanda</StartMenuDir>
	<TargetDir>@ApplicationsDir@/Fernanda</TargetDir>
	<InstallerWindowIcon>../resources/icons/Fernanda-64</InstallerWindowIcon>
	<InstallerApplicationIcon>../resources/icons/Fernanda</InstallerApplicationIcon>
	<WizardStyle>Modern</WizardStyle>
</Installer>
